/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */


#FeaturedBrands{
  float: left;
  width: 66%;
}

#Archive{
  margin-left: 2%;
  float: right;
  width: 32%;
}

.shoes{
  margin-top: 2%;
  float: left;
  width: 32%;
  
}

#ladybug{
  margin-right: 2%;
}

#skaters{
  margin-right: 2%;
}

#heels{
  margin-right: 0;
}

.bottom{
  float: left;
  width: 32%;
}
#links{
  margin-left: 2%;
}

#follow{
  margin-top: 0;
  margin-left: 2%;
}
